# Testing Dependencies
pytest
coverage
pytest-cov
pytest-bdd
beautifulsoup4==4.9.3  # https://www.crummy.com/software/BeautifulSoup/bs4/doc/

# Linting dependencies
flake8

# Documentation Dependencies
sphinx
recommonmark

# pipy publishing
twine
setuptools
wheel

