# Testing Dependencies
pytest~=7.4.2
coverage~=7.3.2
pytest-cov~=4.1.0
pytest-bdd~=7.0.0
beautifulsoup4~=4.12.2

# Linting dependencies
flake8~=6.1.0

# Documentation Dependencies
sphinx~=7.1.2
recommonmark~=0.7.1

# pipy publishing
twine~=4.0.2
setuptools~=68.2.2
wheel~=0.41.2
