{% import "macros.html" as mc %}

<h1 class="ui header">Class instantiation</h1>
<section class="ui basic segment">
    <p>The table below describes how are classes instantiated in <strong>{{ configuration.alpha.title }} </strong>
        dataset. Please note that the instance counts are different
        from total number of unique instances in the data-set. When an individual instantiates multiple classes,
        then it is counted once for each class it instantiates. The relative number of instances is scaled to the
        total number of unique instances per class.
    </p>
    {% set select_query =
"
PREFIX dc: <http://purl.org/dc/elements/1.1/>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX dsv: <http://purl.org/iso25964/DataSet/Versioning#>
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX sd: <http://www.w3.org/ns/sparql-service-description#>
PREFIX sh: <http://purl.org/skos-history/>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX xhv: <http://www.w3.org/1999/xhtml/vocab#>
#
# identify concepts deprecated with a certain version
#
SELECT (?concept AS ?deprecatedConcept) (str(?label) AS ?deprecatedConceptLabel)
(?replacedBy as ?replacedByConcept) (str(?replacedByPrefLabel) AS ?replacedByConceptLabel)
WHERE {
  GRAPH ?versionHistoryGraph {
    # parameters
    VALUES ( ?versionHistoryGraph ?oldVersion ?newVersion ?language ) {
      ( undef undef undef \"en\" )
    }
    # get the current and the previous version as default versions
    ?versionset dsv:currentVersionRecord/xhv:prev/dc:identifier ?previousVersion .
    ?versionset dsv:currentVersionRecord/dc:identifier ?latestVersion .
    # select the versions to actually use
    BIND(coalesce(?oldVersion, ?previousVersion) AS ?oldVersionSelected)
    BIND(coalesce(?newVersion, ?latestVersion) AS ?newVersionSelected)
    # get the delta and via that the relevant graphs
    ?delta a sh:SchemeDelta ;
      sh:deltaFrom/dc:identifier ?oldVersionSelected ;
      sh:deltaTo/dc:identifier ?newVersionSelected ;
      sh:deltaFrom/sh:usingNamedGraph/sd:name ?oldVersionGraph ;
      sh:deltaTo/sh:usingNamedGraph/sd:name ?newVersionGraph ;
      dcterms:hasPart ?insertions ;
      dcterms:hasPart ?deletions .
    ?insertions a sh:SchemeDeltaInsertions ;
      sh:usingNamedGraph/sd:name ?insertionsGraph .
    ?deletions a sh:SchemeDeltaDeletions ;
      sh:usingNamedGraph/sd:name ?deletionsGraph .
  }
  # identify the deprecated concepts
  GRAPH ?insertionsGraph {
    ?concept owl:deprecated true
  }
  GRAPH ?newVersionGraph {
    # different kinds of remaining labels should be supported
    {
      ?concept skos:prefLabel ?label
    }
    UNION
    {
      ?concept rdfs:label ?label
    }
    # perhaps the deprecated concept was merged into another one
    OPTIONAL {
      ?concept dcterms:isReplacedBy ?replacedBy .
      ?replacedBy skos:prefLabel ?replacedByPrefLabel .
      FILTER (lang(?label) = lang(?replacedByPrefLabel))
    }
  }
  # restrict output to a certain language
  FILTER (lang(?label) = ?language)
}
ORDER BY ?concept
" %}
    {% set content, error = from_endpoint(configuration.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% set substituted_content = replace_strings_in_tabular(content,
                                        target_columns=['class'],
                                        value_mapping_dict=inverted_prefixes,
                                        mark_touched_rows=False ) %}
        {# TODO: need a function that adds a relative count column, so that we can see the percentage of classes #}
        {# {{ content["percentage"] = content["instances"]  / content["instances"].sum() }}#}
        {{ mc.pandas_table(content, "Class instantiation overview") }}
    {% endcall %}


    {# TODO: class instiatiation overlaps and # shared instances   #}
    {# TODO: need for an agregation function over selected columns in a dataframe #}

</section>