{% import "macros.html" as mc %}

<h1 class="ui header">Class instantiation</h1>
<section class="ui basic segment">
    <p>The table below describes how are classes instantiated in <strong>{{ configuration.alpha.title }} </strong>
        dataset. Please note that the instance counts are different
        from total number of unique instances in the data-set. When an individual instantiates multiple classes,
        then it is counted once for each class it instantiates. The relative number of instances is scaled to the
        total number of unique instances per class.
    </p>
    {% set select_query =
    "select distinct ?class (count (distinct ?instance) as ?instances)
    where {
     ?instance a ?class .
    } group by ?class
    order by desc(?instances)
    limit 200" %}
    {% set content, error = from_endpoint(configuration.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% set substituted_content = replace_strings_in_tabular(content,
                                        target_columns=['class'],
                                        value_mapping_dict=inverted_prefixes,
                                        mark_touched_rows=False ) %}
        {# TODO: need a function that adds a relative count column, so that we can see the percentage of classes #}
        {# {{ content["percentage"] = content["instances"]  / content["instances"].sum() }}#}
        {{ mc.pandas_table(content, "Class instantiation overview") }}
    {% endcall %}


    {# TODO: class instiatiation overlaps and # shared instances   #}
    {# TODO: need for an agregation function over selected columns in a dataframe #}

</section>