{% import "macros.html" as mc %}

{# expecting the class URI to be available in the context #}

{% set select_query =
    "SELECT DISTINCT (?p as ?property) (?tto as ?object_type) (?tp as ?property_type) ?count
    WHERE
    {
      values ?ts {<"~class~">}
      ?s a ?ts .
      ?s ?p [] .
      {
        select ?ts ?p ?tto ?tp (count(*) AS ?count)
        {
          ?s ?p ?o .
          ?s a ?ts .
          OPTIONAL {?o a ?to .}
          BIND( datatype(?o) as ?dto )
          BIND(IF(BOUND(?to),?to, IF (bound(?dto), ?dto, <http://www.w3.org/2000/01/rdf-schema#Resource>) ) as ?tto )
          BIND( IF( isURI(?o),'object' , 'data') as ?tp )
        } GROUP BY ?ts ?p ?tto ?tp
      }
    }
    ORDER BY ?subject_type desc(?property_type) desc(?count) ?property ?object_type" %}
{% set content, error = from_endpoint(configuration.default_endpoint).with_query(select_query).fetch_tabular() %}
{% call mc.render_fetch_results(content, error) %}
    {{ mc.pandas_table(content, "Shape of "~class~" class") }}
{% endcall %}