<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Proof of Concept Report</title>

    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet'
          type='text/css'>

    <!-- build:css styles/main.css -->
    {#    <link rel="stylesheet" href="main.css">#}
    <!-- endbuild -->

</head>

<body>
<nav class="ui fixed menu inverted navbar">
    <a href="" class="brand item">RDF Fingerprinter proof of concept</a>
</nav> <!-- end nav -->

<main class="ui page grid">
    <div class="row"></div>
    <div class="row">
        <div class="starter column">
            <h1 class="ui center aligned header">Cellar SPARQL endpoint fragment</h1>
            {% block content %}
                < empty >
            {% endblock %}
        </div>
    </div>
</main>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
</body>
</html>